.navbar-burger {
    display: block;
}

.burger-button-wrap {
    display: grid;
    grid-template-columns: 32px 32px;
    text-align: right;
    label {
        color: $blueberry;
        text-decoration: underline;
        margin: auto 0;
        font-size: 0.75rem;
        cursor: pointer;
    }    
}

button.burger-button {
    width: 28px;
    height: 24px;
    cursor: pointer;
    position: relative;
    padding: 0;
    border: none;
    background: none;
    display: block;
    box-sizing: border-box;   
    span {
        transition: transform 0.15s, opacity 0.15s;
        border-radius: 10px;
        background: $primary;
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
    }
    #burgertop {
        transform: translateY(-9px);
    }
    #burgermid {
        transform: translateY(0px);
    }
    #burgerbtm {
        transform: translateY(9px);
    }
}

button.burger-button.active {
    #burger-top {
        transform: translateY(0px) rotate(225deg);
    }
    #burger-mid {
        opacity: 0;
        transform: rotate(360deg);
    }
    #burger-btm {
        transform: translateY(0px) rotate(-225deg);
    }
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
    .burger-button-wrap {
        display: none;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}