main {
    section.page {
        text-align: center;
        width: 100%;
        display: block;
        margin: 2rem auto;
        .column {
            .page-content {
                p {
                    max-width: 100%;
                }
            }
        }
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .page {
        max-width: 380px;
    }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
    .page {
        max-width: 500px;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .page {
        max-width: 700px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .page {
        max-width: 700px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .page {
        max-width: 750px;
    }
}
